<div class="apps">
	<div class="header">
		<h2>Apps & Projects</h2>
		<p>Inspired by the elegance of human</p>	
	</div>
	<ul class="projects">
		<li class="project">
			<div class="project_container">
				<img src="./data/images/project_wayfair_match.png" class="project_image">
				<div class="project_desc">
					<div class="project_desc_container">
						<h5>Wayfair Match</h5>
						<p>Hackathon Project during my summer internship at Wayfair. It's a tinder for furniture to promote sales. </p>
						<a href="http://zhengbangc.com/wayfair-match">Check it out</a>
					</div>
				</div>
			</div>
		</li>
		<li class="project">
			<div class="project_container">
				<img src="./data/images/project_sapphire.png" class="project_image">
				<div class="project_desc">
					<div class="project_desc_container">
						<h5>IMDB Top 100</h5>
						<p>Built with AngularJS, this app allows user to browse, filter and search for movies in IMDB's Top 100 Moives</p>
						<a href="http://zhengbangc.com/sapphire">Check it out</a>
					</div>
				</div>
			</div>
		</li>	
		<li class="project">
			<div class="project_container">
				<img src="./data/images/project_scheduler.png" class="project_image">
				<div class="project_desc">
					<div class="project_desc_container">
						<h5>Scheduler</h5>
						<p>Built with AngularJS, NodeJS and MongoDB, this app allow studetns to choose classes and built a calendar</p>
						<a href="https://www.youtube.com/watch?v=b1415lmek-E">Watch on Youtube</a>
					</div>
				</div>
			</div>
		</li>		
	</ul>
	<div class="contactme">
			<div class="eyeimg"><img src="data/images/close.svg"></div>
			<h3>Let's inspire each other</h3>
			<a ng-href="https://github.com/zhengbangc">Github</a> /
			<a ng-href="https://www.linkedin.com/in/zhengbangchen">LinkedIn</a> /
			<a ng-href="https://mail.google.com/mail/?view=cm&fs=1&to=zchen94@illinois.edu">Email</a> <br>
			<a ng-href="https://www.instagram.com/zhengbangc/">Instagram</a> /
			<a ng-href="https://medium.com/@zhengbangchen">Medium</a> /
			<a ng-href="https://www.facebook.com/zhengbang.chen.79">Facebook</a>
			<p>2016 &copy; Zhengbang Chen </p>
	</div>
</div>	