<div class="home">    
	<div class="intro">
		<div class="introImage">
			<img class="profilepic" ng-src="data/images/profile.jpg"/>
			<h2>Zhengbang Chen.</h2>
			<h3><a ng-href="http://giphy.com/embed/UTvN95v5LlnUI">A designer-developer hybrid</a></h3>
		</div>
		<div class="experience">
			<ul>
				<li>
					<h5>Software Engineering Intern</h5>
					<span class="fa fa-angle-right"></span>
					<h7>Wayfair LLC, June 2016 - August 2016</h7>
					<p>Develop fullstack Storefront projects with the <a ng-href="http://www.wayfair.com/v/about/meet_the_team">Lifestyle Brand Development team</a> which focuses on giving customers a more personalized and catered browsing experience.</p>
				</li>
				<li>
					<h5>Computer Engineering Undergraduate</h5>
					<span class="fa fa-angle-right"></span>
					<h7>University of Illinois at Urbana-Champaign, August 2013 - May 2017</h7>
					<p>Major in Computer Engineering and immerse myself in a solid technical and academic learning environment. Classes taken: Computer Systems Engineering (ECE391), The Art and Science of Web Programming (CS498RK1), Database Systems (CS411), Design Thinking (ART310).</p>
				</li>
				<li>
					<h5>Executive Board President</h5>
					<span class="fa fa-angle-right"></span>
					<h7>Institute of Electrical and Electronic Engineers, May 2016 - Present</h7>
					<p>Lead and oversee the executive board of <a ng-href="https://ieee.illinois.edu/">Institute of Electrical and Electronic Engineers (IEEE)</a> at optimal to produce inspiring techincal, professional and social events to the general student body. Sustain organizational relations with university departments, other RSOs and companies. Promote advancement and development of members' technical and academic well-being.</p>
				</li>
				<li>
					<h5>Front-end Developer</h5>
					<span class="fa fa-angle-right"></span>
					<h7>Reconstruct Inc., March 2016 - Present</h7>
					<p>Rebuilt the front end for the FlyingSuperIntendent project which provides predictive visual data analytics for construction projects. Working closely with <a ng-href="https://www.linkedin.com/in/golparvar">Professor Mani Golparvar Fard</a></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="myworks">
		<!-- <h2>My Works</h2> -->
		<div class="eyeimg"><img src="data/images/eye.svg"></div>
		<h3>Inspired by the elegance of human</h3>
		<div class="thumbnails">
			<div class="thumb_nail">
				<div class="thumb_nail_container">
					<a href="#"></a>
					<h5>Apps & Projects</h5>
					<p>Innovation, curation and realization.</p>
				</div>
			</div>
			<div class="thumb_nail">
				<div class="thumb_nail_container">
					<a ng-href="#"></a>
					<h5>Designs & Prototypes</h5>
					<p>Iterations, ideations, and evaluations.</p>
				</div>
			</div>
			<div class="thumb_nail">
				<div class="thumb_nail_container">
					<a ng-href="#"></a>
					<h5>Photographs</h5>
					<p>Crystal clear with a shallow depth of field.</p>
				</div>
			</div>
			<div class="thumb_nail">
				<div class="thumb_nail_container">
					<a ng-href="#"></a>
					<h5>Writings & Inspirations</h5>
					<p>Emotions... all great designs appeal to emotions.</p>
				</div>
			</div>
			<div class="thumb_nail">
				<div class="thumb_nail_container">
					<a ng-href="#"></a>
					<h5>C'est La Vie</h5>
					<p>Carpe Diem!</p>
				</div>
			</div>
			<div class="thumb_nail">
				<div class="thumb_nail_container">
					<a ng-href="#"></a>
					<h5>Bon Voyage</h5>
					<p>Understand humanity and culture.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contactme">
			<div><img src="data/images/close.svg"></div>
			<h3>Let's inspire each other</h3>
			<a ng-href="https://github.com/zhengbangc">Github</a> /
			<a ng-href="https://www.linkedin.com/in/zhengbangchen">LinkedIn</a> /
			<a ng-href="https://mail.google.com/mail/?view=cm&fs=1&to=zchen94@illinois.edu">Email</a> <br>
			<a ng-href="https://www.instagram.com/zhengbangc/">Instagram</a> /
			<a ng-href="https://medium.com/@zhengbangchen">Medium</a> /
			<a ng-href="https://www.facebook.com/zhengbang.chen.79">Facebook</a>
			<p>2016 &copy; Zhengbang Chen </p>

	</div>
		<!-- <div class="introdesc">
			<p>Hi, I am Zhengbang Chen. I love building great products with human-centered designs that make life elegant.</p>
			<ul>
				<li>Develop MEAN stack apps</li>
				<li>Design with Sketch 3</li>
				<li>Sail on Medium and Dribble</li>
			</ul>
		</div> -->
	</div>


</div>